@using first_entity.Models
@model Dish


            <a href="/">Home</a>

            <p>Edit :@Model.Name</p>




            <div>
                    <form asp-action="Createdish" asp-controller="Home" method="post">
                    <label asp-for="Chef"></label>
                    <input asp-for="Chef">
                    <span asp-validation-for="Chef" class="text-danger"></span>
            </div>

            <div class= "add_info">
                    <label asp-for="Name"></label>
                    <input asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
            </div>

                    <div>
                    <label asp-for="Calories"></label>
                    <input asp-for="Calories">
                    <span asp-validation-for="Calories" class="text-danger"></span>

                    
            <div class = "add_info">
                    <label asp-for="Tastiness"></label>
                    <select asp-for="Tastiness">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                    </select>
            </div>

                    <br>
            <div class = "add_info">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="6"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br>
                    <input type="submit" id="submitbtn">
            </form>


    
            <a class="Edit" href="/Moddish/@Model.DishId">Edit Dish</a>